

<!-- <div class="container jumbotron col-md-3" > -->
<!-- <div class="container jumbotron ">
<div class="row clearfix container-fluid">
    <div class="col-md-12 column">
    <div class="col-md-6 col-md-offset-3 column loginForm">
<form>
    <div class="form-group">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <div class="checkbox">
        <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
</div>
</div>
</div>
</div> -->
             <div><h1>Sign In</h1></div>

<div class="container" style="background-color: #E6DEd1; margin-top: 0%; padding: 20px 40px;padding-bottom: 80px;">
    
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

          <form  name="singInForm" method="post" ng-submit="login()">
          <div style="display:none">
          <input type="hidden" value="">
          <input type="hidden" value="">
          </div>


            <div class="form-group row">
              <div class="col-sm-12">
                <label for="user_email"   ng-class="{'errorText': changeColorForText === 'error', 'warningText': changeColorForText === 'warning','textGreen': changeColorForText=== 'success'}"  class="control-label">Email Address</label>
                <span class="errorText" ng-show="singInForm.$dirty && singInForm.email.$error.required">This is a required field</span>
                <span class="errorText" ng-show="singInForm.$dirty && singInForm.email.$invalid">This field is invalid </span>
                <input type="email" autofocus="autofocus" class="form-control email" ng-model="loginDetails.email"  name="email" placeholder="Enter your e-mail address" ng-keyup="changeColor(singInForm.email.$error.required,singInForm.email.$invalid,'email')" required >
              
             
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12">
                <label for="user_password" class="control-label"  ng-class="{'errorText': changeTextForPassword === 'error', 'warningText': changeTextForPassword === 'warning','textGreen': changeTextForPassword === 'success'}">Password</label>
                 <span class="errorText" ng-show="singInForm.$dirty && singInForm.password.$error.required">This is a required field</span>
                <input autocomplete="off" class="form-control password" id="password" ng-model="loginDetails.password" name="password" placeholder="Enter your password" type="password" ng-keyup="changeColor(singInForm.password.$error.required,singInForm.password.$invalid,'pass')" required>
                          
              
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-12 checkbox">
                <input name="user[remember_me]" type="hidden" value="0"><input id="remember_me" name="remember_me" type="checkbox" ng-model="loginDetails.rememberMe" value="1">
                  <span for="user_remember_me" style="
    margin-left: 24px;
">Remember me</span>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <input class="btn btn-primary btn-block" type="submit" value="Login">
                <div class="devise-links text-center">

    

    <a href="#">Forgot your password?</a>



</div>

              </div>

            </div>
            
</form>        </div>
      </div>
    </div>